.backCard{
  width: 350px;
  height: 192px;
  padding: 15px;
  position: absolute;

  top: 320px;
  left: 260px;

  background-image: url('/bg-card-back.png');
  background-size: contain;
}

.securityNumber{
  position: absolute;
  top: 85px;
  left: 290px;

  color: white;
}